<div class="container-fluid">
    <div class="row my-4 mx-auto text-center">
        <p align="right">Jesteś zalogowany jako <b>{{ login }} <a href="/users/logout" class="btn btn-dark">Wyloguj się</a></b></p>
        <p align="left"><a href="/instructors" class="btn btn-info">Powrót do głównego panelu instruktora</a></p>
    </div>
    <div class="row my-4 mx-auto text-center col-10">
        <h1><b>PANEL INSTRUKTORA</b></h1>
        <h5><b>Uzupełnianie danych osobowych</b></h5>
    </div>
    <div class="row my-4 mx-auto col-5 text-center">
        <form action="/instructors/add" method="post">
            <div class="mb-3">
                <label for="imie" class="form-label">Imię:</label>
                <input type="text" class="form-control" id="imie" name="imie">
            </div>
            <div class="mb-3">
                <label for="nazwisko" class="form-label">Nazwisko:</label>
                <input type="text" class="form-control" id="nazwisko" name="nazwisko">
            </div>
            <div class="mb-3">
                <label for="telefon" class="form-label">Telefon:</label>
                <input type="text" class="form-control" id="telefon" name="telefon">
            </div>
            <button type="submit" class="btn btn-primary">Zatwierdź</button>
        </form>
    </div>
</div>