<div class="container-fluid">
    <div class="row my-4 mx-auto text-center">
        <p align="right">Jesteś zalogowany jako <b>{{ login }} <a href="/users/logout" class="btn btn-dark">Wyloguj się</a></b></p>
        <p align="left"><a href="/instructors/lecture" class="btn btn-info">Powrót do panelu zarządzania wykładami</a></p>
    </div>
    <div class="row my-4 mx-auto text-center col-10">
        <h1><b>PANEL INSTRUKTORA</b></h1>
        <h5><b>Ustalanie wykładu</b></h5>
    </div>
     <div class="row my-4 mx-auto col-5 text-center">
        <form action="/instructors/lecture/add" method="post">
            <label for="kursant" class="form-label">Kursant:</label>
            <select name="kursant" class="form-select mb-3">
                {{#each participants}}<option value="{{this.user}}"> {{this.imie}} {{this.nazwisko}}</option>{{/each}}
            </select>
            <div class="mb-3">
                <label for="temat" class="form-label">Temat:</label>
                <input type="text" class="form-control" id="temat" name="temat">
            </div>
            <div class="mb-3">
                <label for="data" class="form-label">Termin:</label>
                <input type="datetime-local" class="form-control" id="data" name="data">
            </div>
            <div class="mb-3">
                <label for="iloscgodzin" class="form-label">Ilość godzin:</label>
                <input type="number" class="form-control" id="iloscgodzin" name="iloscgodzin">
            </div>
            <button type="submit" class="btn btn-primary">Zatwierdź</button>
        </form>
    </div>
</div>