<div class="container-fluid">
    <div class="row my-4 mx-auto text-center">
        <p align="right">Jesteś zalogowany jako <b>{{ login }} <a href="/users/logout" class="btn btn-dark">Wyloguj się</a></b></p>
        <p align="left"><a href="/vehicles/admin" class="btn btn-info">Powrót do panelu zarządzania pojazdami</a></p>
    </div>
    <div class="row my-4 mx-auto text-center">
        <h1><b>PANEL ADMINA</b></h1>
        <h3><b>Zarządzanie pojazdami</b></h3>
        <h5><b>Dodawanie pojazdu</b></h5>
    </div>
    <div class="row my-4 mx-auto text-center">
        <p>Dodano nowy pojazd:<br />
        Nazwa: {{ item.nazwa }}<br />
        Typ: {{ item.typ }}<br />
        Nr rejestracyjny: {{item.nrrejestracyjny}}
        </p>
    </div>
</div>