<div class="container-fluid">
    <div class="row my-4 mx-auto text-center">
        <p align="right">Jesteś zalogowany jako <b>{{ login }} <a href="/users/logout" class="btn btn-dark">Wyloguj się</a></b></p>
        <p align="left"><a href="/users/admin" class="btn btn-info">Powrót do panelu zarządzania użytkownikami</a></p>
    </div>
    <div class="row my-4 mx-auto text-center">
        <h1><b>PANEL ADMINA</b></h1>
        <h3><b>Zarządzanie użytkownikami</b></h3>
        <h5><b>Usuwanie użytkownika</b></h5>
    </div>
    <div class="row my-4 mx-auto text-center">
        <p>BŁĄD! Nie udało się usunąć użytkownika. Spróbuj jeszcze raz.</p>
    </div>
</div>