<div class="container-fluid">
    <div class="row my-4 text-center">
        <p>Rejestracja przebiegła pomyślnie!<br/><br/>
        Zarejestrowano użytkownika: {{ item.login }} ({{item.email}})</p>
    </div>
</div>