<div class="container-fluid">
    <div class="row my-4 mx-auto text-center">
        <p align="right">Jesteś zalogowany jako <b>{{ login }} <a href="/users/logout" class="btn btn-dark">Wyloguj się</a></b></p>
    </div>
    <div class="row my-4 mx-auto text-center">
        <h1><b>PANEL ADMINA</b></h1>
    </div>
    <div class="row my-4 mx-auto text-center col-4">
            <a href="/vehicles/admin" class="btn btn-warning">Pojazdy</a>
    </div>
    <div class="row my-4 mx-auto text-center col-4">
            <a href="/courses/admin" class="btn btn-warning">Kursy</a>
    </div>
    <div class="row my-4 mx-auto text-center col-4">
            <a href="/users/admin" class="btn btn-warning">Użytkownicy</a>
    </div>
</div>